body{
    background: rgb(99,0,153);
    background: linear-gradient(0deg, rgba(99,0,153,1) 0%, rgba(0,0,0,1) 72%, rgba(0,0,0,1) 89%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #4f1a58;
    padding: 0% !important;
}
*{
    font-family: "Montserrat", sans-serif;   
}

html1{
    height: 100%;
}

.form-control.mr-sm-2{
    background-color: black !important;
    border: 0px !important;
    border-bottom:  2px solid #4f1a58 !important;
    float: right !important ;
}
.nav-link{
    color: white !important;
}


main{
    display: flex;
    margin: auto;
}


/* css lista de produtos */


/* tela sobre nos */

.quem_somos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desenvolvedoras.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 100px;
    
}


