{% extends 'base.html' %}

{% block conteudo %}
<div style="box-shadow: 0 0 1em rgb(156, 37, 224);" id="carouselExampleControls"
  class="carousel slide p-0 m-0" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class=" w-100" src="/static/img/4.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="w-100" src="/static/img/2.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="w-100" src="/static/img/1.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class=" w-100" src="/static/img/3.png" alt="Third slide">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>

<section class="promoções">
  <section class="pngpromoções">
    <img class="efeito-flutuante-infinito w-100" src="/static/img/promo (1).png" style="width: 80%;" alt="logo">
  </section>
  <style>
    .imgpromo {
      width: 100%;
    }
    .imgp{
      width: 100%;

    }
    

  </style>
  <section class="imgpromo container-fluid ">
    <div style="color: white;" class="row col-lg-12 col-md-10 col-12">
    <div colo class="zoom justify-content-center col-md-6 col-lg-6 col-6 mb-4 p-5">
      <div class="row">
      <div class="col-12">
      <img class="imgp" src="/static/img/moletom.jpg">
    </div>
      <div class="col-12 mt-5">
      <h4 style="text-decoration: overline;" class="text-center"> <strong>Vamos conferir?!</strong> </h4>
      <p class="text-center">Ofertas imperdíveis por tempo limitado, garanta já o seu!</p>
    </div>
    
  </div>
    </div>
    <div  class="zoom justify-content-center col-md-6 col-lg-6 col-6 mb-4 p-5">
      <div class="row">
        <div class="col-12">
        <img class="imgp" src="/static/img/camiseta.jpg">
      </div>
        <div class="col-12 mt-5">
        <h4 style="text-decoration: overline;" class="text-center"> <strong>Vamos conferir?!</strong> </h4>
        <p class="text-center">Ofertas imperdíveis por tempo limitado, garanta já o seu!</p>
      </div>
    </div>
    </div>
  </div>


  </section>
</section>

{% endblock conteudo %}