{% extends 'base.html' %}
{% block conteudo %}
<style>
    .card.pag {
        margin: 10px !important;
        color: black;
        padding: 10px;
        border-radius: 30px;
        box-shadow: 0 0 3rem rgba(162, 0, 255, 0.247) !important;
    }

    .card-img-top {
        border-radius: 30px;
    }

    .row {
        justify-content: space-around;
    }
</style>
<section>
    <div class="row row-cols-sm-2  row-cols-lg-4 row-cols-md-3">
        <div class="card pag" style="width: 30rem;">
            <div class="card-body">
                <img src="/static/img/qr.jpeg" class="card-img-left" alt="Imagem de capa do card">
                <div style=" margin: 2px; text-align: center ; font-size:14px;">
                    <p style="margin:0% ; color: blueviolet;"> chave pix: </p> <!--escrever chave-->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock conteudo %}