{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block conteudo %}
<style>
    .card {
        background-color: rgba(0, 0, 0, 0.205);
        box-shadow: 0 0 1rem rgba(162, 0, 255, 0.247) !important;
        border-radius: 30px;
    }

    .fonte {
        font-size: 20px;
    }
</style>
<div class="container mt-2 text-white">
    <div class="row d-flex justify-content-center">
        {% for user in usuario %}
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img src="/static/img/perfil_default.jpg" alt="" width="200px" style="border-radius: 50%; box-shadow: 0 0 3rem rgba(162, 0, 255, 0.247) !important;
                    ">
                </div>

                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0" style="font-size: 40px;"> <strong> {{user.username}} </strong></h5>
                    <span>...vive no mundo da lua</span>

                    <section >
                        <strong>
                            <p class="fonte">E-mail: {{user.email}}</p>
                        </strong>
                    </section>
                </div>
                {% endfor %}
               
            </div>
        </div>
    
    </div>

</div>

{% endblock conteudo %}