{% extends 'base.html' %}


{% block conteudo %}

<section class="quem_somos">

    <div>
        <img src="/static/img/quemsomos_.png" alt="" width="900px">
    </div>
    <div>
        <img src="/static/img/img_sobrenos.png" alt="meninas" width="500px">
    </div>

    <div class="desenvolvedoras container-fluid ">
    
        <div style="border-left: 10px solid rgb(80, 16, 80);" class="row">
            <div class="col d-flex flex-column justify-content-center align-items-center" >
                <img style="border-radius: 50%; width: 300px;" src="/static/img/joyce.jpg" alt="joyce" >
            </div>
            <div style="color: white ;" class="col-8 d-flex flex-column justify-content-center align-items-center">
                <p>Olá, meu nome é Joyce Emília, tenho 19 anos de idade. No momento estou me formando como 
                    técnica de informática e também sempre tive interesse na arte (gostei principalmente de desenhar)
                    e no design, por isso não perdi a chance quando fui convidada a participar da criação dessa marca 
                    e site de roupas.
                </p>
            </div>
        </div>

        <div style="border-right: 10px solid rgb(80, 16, 80); text-align: justify; float:right ;" class="row">
            <div style="color: white ;" class="col-8 d-flex flex-column justify-content-center align-items-center">
                <p>Olá, meu nome é Joyce Emília, tenho 19 anos de idade. No momento estou me formando como 
                    técnica de informática e também sempre tive interesse na arte (gostei principalmente de desenhar)
                    e no design, por isso não perdi a chance quando fui convidada a participar da criação dessa marca 
                    e site de roupas.
                </p>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center" >
                <img style="border-radius: 50%; width: 300px;" src="/static/img/Livia.jpg" alt="joyce" >
            </div>
            
        </div>
        <div style="border-left: 10px solid rgb(80, 16, 80);" class="row">
            <div class="col d-flex flex-column justify-content-center align-items-center" >
                <img style="border-radius: 50%; width: 300px;" src="/static/img/karen.jpg" alt="Karen" >
            </div>
            <div style="color: white ;" class="col-8 d-flex flex-column justify-content-center align-items-center">
                <p>Olá, meu nome é Joyce Emília, tenho 19 anos de idade. No momento estou me formando como 
                    técnica de informática e também sempre tive interesse na arte (gostei principalmente de desenhar)
                    e no design, por isso não perdi a chance quando fui convidada a participar da criação dessa marca 
                    e site de roupas.
                </p>
            </div>
        </div>

        
    </div>
</section>

{% endblock conteudo %}